<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">{{ front_fields['title'] }}</div>
            <div class="intro-heading text-uppercase">{{ front_fields['subtitle'] }}</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">{{ front_fields['btn-text'] }}</a>
        </div>
    </div>
</header>